@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  font-family: "Rubik";
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 90%;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 900px) {
  .container {
    max-width: 90%;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 95%;
  }
}

/* .slick-center {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 2s ease-in-out;
  padding: 0 13px !important;
}
.slick-slide > div {
  padding: 0 13px !important;
}
.slick-list {
  padding: 0 -13px !important;
} */

.slick-center {
  animation: scaleUp 2s ease-in-out forwards;
  padding: 0 26px !important;
}

.slick-slide:not(.slick-center) {
  animation: scaleDown 2s ease-in-out forwards;
  padding: 0 13px !important;
}

.slick-list {
  padding: 0 -13px !important;
}

@keyframes scaleUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes scaleDown {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
